.connexion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Hauteur complète de l'écran */
    background-color: #F0F1F5; /* Couleur de fond claire */
}

.logo-container {
    margin-bottom: 10px;
}

.logo {
    width: 100px; /* Ajustez la taille du logo selon vos besoins */
}

h1 {
    font-size: 24px;
    margin-bottom: 20px; /* Espace sous le titre */
}

.rectangle {
    width: 345px; /* Largeur du rectangle */
    height: 180px; /* Hauteur du rectangle */
    background-color: white; /* Couleur de fond */
    border-radius: 10px; /* Coins arrondis (facultatif) */
    display: flex; /* Pour centrer le contenu */
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    margin: 20px auto; /* Ajoute une marge pour centrer le rectangle */
}

.connexion-formulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email{
    width:310px;
    height: 28px;
    padding: 10px;
    margin-bottom: 10px; /* Espace entre les champs */
    border: 1px solid #ccc; /* Bordure gris clair */
    border-radius: 5px; /* Coins arrondis */
    font-size: 16px; /* Taille de police */ 
}

.motDePasse{
    height: 28px;
    width:310px;
    padding: 10px;
    margin-bottom: 10px; /* Espace entre les champs */
    border: 1px solid #ccc; /* Bordure gris clair */
    border-radius: 5px; /* Coins arrondis */
    font-size: 16px; /* Taille de police */ 
}

input::placeholder {
    color: #aaa; /* Couleur du texte de l'espace réservé */
}

.connexionBouton {
    padding: 10px;
    background-color: #FF0000; /* Couleur rouge pour le bouton */
    color: white; /* Couleur du texte */
    border: none; /* Pas de bordure */
    border-radius: 5px; /* Coins arrondis */
    font-size: 16px; /* Taille de police */
    cursor: pointer; /* Pointeur pour le curseur */
    width: 104px;
    height: 33.8;
    border-radius: 25px;
    opacity: 0.5;
    
}

.connexionBouton:hover {
    background-color: #e63939; /* Couleur plus foncée au survol */
}
